<div class="detail-popup">
    <div class="l-side">
        <div class="image">
            <img src="" alt="">
        </div>
    </div>
    <div class="r-side">
        <div class="header">
            <div class="like">
                <button class="like-dislike" style="margin-right: 10px;"><i class="fa-heart fa-2x"></i></button>
                <span id="like-count"></span>
            </div>
            <div class="buttons">
                <button id="edit-post">Edit</button>
                <button id="delete-post">Delete</button>
            </div>
            <span id="close"></span>
        </div>
        <div class="caption">
            <span></span>
        </div>
    </div>

    <!-- Responsive -->
    <div class="t-side">
        <div class="image">
            <img src="" alt="">
        </div>
    </div>
    <div class="b-side">
        <div class="header">
            <div class="like">
                <button class="like-dislike" style="margin-right: 10px;"><i class="fa-heart fa-2x"></i></button>
                <span id="like-count"></span>
            </div>
            <div class="buttons" style="flex-grow: 0">
                <button id="edit-post">Edit</button>
                <button id="delete-post">Delete</button>
            </div>
            <span id="close"></span>
        </div>
        <div class="caption">
            <span></span>
        </div>
    </div>
</div>



